<div class="msgbox">
  <h1><%= User.find(@recepient).username %></h1>
  <hr>
  <div class="message-container">
    <% @conversation.each do |message| %>
      <div 
        <% if message.sender_id === session[:user_id]%>
        class="sender"
        <% end %>
        class="recepient"
        >
        <div class="message-details">
          <p><%= message.body %></p>
          <p><%= message.created_at %></p>
        </div>
      </div>
    <% end %>
  </div>
  <footer>
    <form class="" action="/messages" method="post">
       <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
       <input type="hidden" name="recepient_id" value="<%= params['to'] %>">
       <input type="text" name="body">
       <button>SUBMIT</button>
    </form>
  </footer>

</div>
