<div class="msgbox">
  <h1 class="recepient_name"><%= User.find(@recepient).username %></h1>
  <hr>
  <div class="message-container">
    <div class="messages">
      <% @conversation.each do |message| %>
        <div 
          <% if message.sender_id === session[:user_id]%>
          class="sender"
          <% end %>
          class="recepient"
          >
          <div class="message-details">
            <p><%= message.body %></p>
            <p class="timestamp"><%= message.created_at %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="message_input">
      <div class="center_me">
        <form class="" action="/messages" method="post">
           <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
           <input type="hidden" name="recepient_id" value="<%= params['to'] %>">
           <textarea class="form-control" name="body" rows="10" cols="50" placeholder="write your message"></textarea>
           <button class="btn under_textarea btn-secondary">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>


