<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<h1><%= @user.username %></h1>
<%if session[:user_id] != @user.id%>
  <div class="msgBox">
    <a href="/messages/new?from=<%= session[:user_id] %>&to=<%= @user.id %>"><i class="far fa-comment-alt"></i> Message <%=@user.username%>
    </a>
  </div>
<%end%>

<h2>All Reviews:</h2>
<div class="wrapper">
<%@reviews.each do |review|%>
<div class="allReviews">
  <a class='address' href="/reviews/<%=review.id%>"><%=review.address%></a>
  <img class='small' src="<%=review.img%>" alt="">

</div>
<%end%>
</div>
<%if @comments.count > 0 %>
  <h2>All comments:</h2>
  <div class="allComments">
    <%@comments.each do |comment|%>
        <a href="/reviews/<%=comment.review_id%>"><%=comment.review.address%></a>
        <p><%=comment.body%></p>
    <%end%>
  </div>
  <%else%>
    <h2><%=@user.username%> hasn't made any comment yet</h2>
<%end%>
