  <h1><%= @review.address %></h1>
  <h2>Review by: <a href="/users/<%= @review.user_id %>"><%= User.find_by(id: @review.user_id).username%></a></h2>
  <% if logged_in?
    if  session[:user_id] === Review.find(params[:id])[:user_id] %>
      <div>
        <%= link_to "edit", edit_review_path(@review), class:"badge badge-info under_review" %>
        <%= link_to "delete", review_path(@review), method: :delete ,  class:"badge badge-danger under_hint" %>
      </div>
      <%else%>
        <p id='likesCount'><%=Like.where(review_id:@review.id).count%></p>

        <button id='likeBtn'>Like</button>

        <input id='review_id'type="hidden" name="review_id" value="<%=@review.id%>">
    <% end %>
  <% end %>
  <h2><%= @review.bedrooms %> bedroom <%= @review.property_type %></h2>
  <!-- need to change to star ratings -->
  <p>Utilities: <div class='starReadOnly' data-rateyo-rating='<%= @review.utilities.to_i %>'></div></p>
  <p>Landlord: <div class='starReadOnly' data-rateyo-rating='<%= @review.landlord.to_i %>'></div></p>
  <p>Neighbours: <div class='starReadOnly' data-rateyo-rating='<%= @review.neighbours.to_i %>'></div></p>
  <p>Neighbourhood: <div class='starReadOnly' data-rateyo-rating='<%= @review.neighbourhood.to_i %>'></div></p>
  <p><%= @review.comment %></p>

  <img src="<%= @review.img %>">
  <br>
  <div class="review_opt">
    <div>
      <a href="/reviews?suburb=<%= @review.suburb %>">Check all reviews for this suburb</a>
      <a href="/reviews?address=<%= @review.address %>">Check other reviews for this property</a>
    </div>
  </div>
  <% if session[:user_id] %>
    <% if params['comment']%>
      <form action="/comments/<%= params['comment'] %>" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="body" value="<%= Comment.find(params['comment']).body %>">
        <button>submit</button>
      </form>
    <% else %>
      <form action="/comments" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="body" placeholder="leave your comment">
        <input type="hidden" name="review" value="<%= @review.id %>">
        <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
        <button>submit</button>
      </form>
    <% end %>
  <% end %>

  <% @comments.each do |comment| %>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="text-muted"><%= comment.created_at %></span>
        <span class="text-muted">
          by <a href="/users/<%= comment.user_id %>"><%= User.find_by(id: comment.user_id).username %></a>
        </span>
      </div>
      <div class="panel-body">
        <%= comment.body %>
      </div>
    </div>
    <% if session[:user_id] === comment.user_id %>
    <div class="options">
      <form action="/comments/<%= comment.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-danger">delete</button>
      </form>
        <a href="/reviews/<%= @review.id %>?comment=<%= comment.id %>"><button>edit</button></a>
    </div>

    <% end %>
  <% end %>

  <script>
  console.log('banana phone')
      var likesObj = $("#likesCount")
      var likesCount = likesObj.text()
      var reviewId = $("#review_id").val()
      var option
      $('#likeBtn').on('click',function(){
          $(this).toggleClass('color')
          if ($(this).hasClass('color')){
              option = {
                url: '/likes',
                method: 'post',
                data: {review_id: reviewId }
              }

              $.ajax(option)
              .done(function(res){
                    console.log(res)
                    likesCount=Number(likesCount)+1
                    likesObj.text(likesCount)
              })

          } else {
            option = {
              url:'/likes',method:'delete',data:{review_id:reviewId}}
              $.ajax(option).done(function(res){

              }

              )}

      })

      // setup star rating in review (readyOnly)
      $('.starReadOnly').rateYo({
        starWidth: "40px",
        normalFill: "#A0A0A0",
        ratedFill: "rgb(243, 156, 18)",
        fullStar: true,
        readOnly: true
      })

  </script>
