<!DOCTYPE html>
<html>
  <head>
    <title>Goodrents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>test test test</h1>
    <%if !session[:user_id]%>
    <a href="/login">LOGIN</a>
    <hr>
    <%else%>
      <p>Logged in as <%=session[:user_name]%></p>
      <form class="" action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <button >LOGOUT</button>
      </form>
      <hr>
    <%end%>
    <%= yield %>
  </body>
</html>
